[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/keyboard_cat.vim"]
	path = .vim/bundle/keyboard_cat.vim
	url = https://github.com/natw/keyboard_cat.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-java-unused-imports"]
	path = .vim/bundle/vim-java-unused-imports
	url = https://github.com/akhaku/vim-java-unused-imports
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/RelOps"]
	path = .vim/bundle/RelOps
	url = https://github.com/vim-scripts/RelOps
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/rainbow_parenthesis"]
	path = .vim/bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule ".vim/bundle/lunarized-syntax"]
	path = .vim/bundle/lunarized-syntax
	url = https://github.com/aclissold/lunarized-syntax
