[user]
    name = Andrew Clissold
[credential]
    helper = cache --timeout=3600
[core]
    autocrlf = input
    safecrlf = true
    excludesfile = ~/.gitignore
[alias]
    home = config user.email "andrewclissold@gmail.com"
    work = config user.email "aclisso@us.ibm.com"
[color]
    ui = true
[push]
    default = simple
[merge]
    tool = vimdiff
