[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/git-prompt
	url = https://github.com/aclissold/zsh-git-prompt
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/keyboard_cat.vim"]
	path = .vim/bundle/keyboard_cat.vim
	url = https://github.com/natw/keyboard_cat.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-java-unused-imports"]
	path = .vim/bundle/vim-java-unused-imports
	url = https://github.com/akhaku/vim-java-unused-imports
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/rainbow_parenthesis"]
	path = .vim/bundle/rainbow_parenthesis
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/lunarized-syntax"]
	path = .vim/bundle/lunarized-syntax
	url = https://github.com/aclissold/lunarized-syntax
[submodule ".vim/bundle/dart-vim-plugin"]
	path = .vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = https://github.com/Keithbsmiley/swift.vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".zsh/go.zsh"]
	path = .zsh/go.zsh
	url = https://gist.github.com/aclissold/b71b575884ddfc692f06
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/powerline/powerline
